@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 20px;
  margin-top: 0px;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.parentTitle {
  display: flex;
  justify-content: center;
  max-height: 70px;
  margin-top: 30px;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.menu {
  width: 50px;
  height: 50px;
}

.feature-parent {
  /* background-color: rgb(190, 188, 188); */
  height: 800px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: rgb(238, 232, 232);
  transition: background-color 2s ease-in;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 50px;
  margin-top: 25px;
}
.feature-parent h1 {
  margin-bottom: 0;
}

.feature-card {
  width: 85%;
  height: 320px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 234, 234);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bookInfo {
  display: flex;
  align-items: center;
  flex-flow: column;
  line-height: 1.2em;
}
.bookInfo h5 {
  text-align: center;
  margin-top: 10;
  margin-bottom: 0;
}
.bookInfo h6 {
  margin: 0;
  text-align: center;
}

.feed-parent {
  margin-top: 25px !important;
  width: 100%;
}

.feed-child {
  margin-bottom: 25px !important;
  width: 100%;
  height: 250px;
  display: flex;
  flex-flow: row;
  background-color: rgb(236, 234, 234);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
  height: 95%;
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data {
height: 95%;
width: 60%;
padding-left: 15px;
display: flex;
  justify-content: center;
  flex-flow: column;
}
.data h5, h6 {
  margin: 0;
}
.data p {
  font-size: small;
}

footer {
  margin-top: 35px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-child {
  margin: 25px;
  width: 50px;
  height: 50px;
}


/* Desktop transition */

@media (max-width: 768px) {
  .desktop-header {
    display: none;
  }
  .desktop-header-icon {
    display: none;
  }
  .desktop-nav-parent {
    display: none;
  }
}

@media (min-width: 768px) {
  footer { 
    display: none;
  }
  h1 {
    margin: 0;
    font-size: 50px;
  }
  .header-title {
    width: 50%;
    text-align: center;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parentTitle {
    margin-bottom: 100px;
  }
  .flex-center {
    display: none;
  }
  
  .desktop-header-icon {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .desktop-header{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding-top: 30px;
  }
  .header-child{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .desktop-nav-parent {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .desktop-nav {
    background-color: rgb(236, 234, 234);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 75%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .nav-child{
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
  }
  main {
    width: 100%;
    display: flex;
    flex-flow: row-reverse wrap;
  }
  .feature-parent {
    width: 29%;
    flex-flow: column;
    background-color: rgb(238, 232, 232);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 25px;
  padding-bottom: 25px;
  }
  .feed-parent {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 125px;
  }
  .feed-child {
    width: 44%;
    height: 25%;
  }
  .para {
    margin-bottom: 30px;
  }
}

.is-active {
  transition: background-color 2s ease-out;
  background-color: gray;
}

.is-active:click {
  
}